@page
@model MvcDemo.Web.Pages.CreateMovieModel

<h1>Create a new movie</h1>

<abp-dynamic-form abp-model="Movie" submit-button="true" />

@*<form method="post">
    <abp-input asp-for="Movie.Name" />
    <abp-select asp-for="Movie.Genre" />
    <abp-input asp-for="Movie.Description" />
    <abp-input asp-for="Movie.Price" />
    <abp-input asp-for="Movie.ReleaseDate" />
    <abp-input asp-for="Movie.PreOrder" />
    <abp-button type="submit" button-type="Primary" text="Submit"/>
</form>*@